body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    height: 42px;
    padding-top: 13px;
    padding-bottom: 10px;
    border-bottom: solid 1px #DBDBDB;
    position: fixed;
    top: 0;
    background-color: #FFFFFF;

}

.topo {
    width: 935px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo ion-icon {
    font-size: 19.25px;
    padding-right: 12px;
    height: 22px;
    border-right: solid 1px #DBDBDB;
    margin-right: 7px;
}

.logo img {
    width: 103px;
}

.pesquisar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 215px;
    height: 28px;
    border: solid 1px #DBDBDB;
    border-radius: 3px;
    background-color: #FAFAFA;
}

.pesquisar p {
    font-size: 12px;
    font-weight: normal;
    color: #979797;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
}

.menu ion-icon {
    font-size: 23px;
}

.topo>ion-icon {
    display: none;
}

.conteudo {
    background-color: #FAFAFA;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 88px;
}

.stories {
    width: 614px;
    height: 118px;
    display: flex;
    align-items: center;
    border: solid 1px #DBDBDB;
    border-radius: 3px;
    background-color: #FFFFFF;
    overflow: hidden;
}

.story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 14px;
}

.story img {
    width: 66px;
}

.story p {}

.vazio {
    width: 293px;
    margin-left: 28px;
}

.ajuste {
    position: fixed;
    top: 88px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ajuste .vazio {
    width: 614px;
    background-color: rgba(0, 0, 0, 0);

}

.sidebar {
    width: 293px;
    padding-top: 23px;

}

.perfil {
    display: flex;
    margin-bottom: 24px;
}


.usuario {
    font-weight: 500;
    font-size: 14px;
    color: #262626;
}

.perfil img {
    width: 56px;
    margin-right: 17px;
}

.perfil div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.perfil .usuario {}

.perfil .nome {
    font-weight: 300;
    font-size: 14px;
    color: #262626;
}

.sugestoes {}

.sugestoes .titulo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
}

.sugestoes .titulo p:first-child {
    color: #8E8E8E;
}

.sugestoes .titulo p {
    font-size: 12px;
    font-weight: 500;
    color: #262626;
    ;
}

.sugestao {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.sugestao img {
    width: 32px;
    margin-right: 11px;
}

.sugestao div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: auto;
}

.sugestao .usuario {}

.sugestao .status {
    font-weight: 400;
    font-size: 12px;
    color: #8E8E8E;
}

.sugestao .seguir {
    font-size: 12px;
    font-weight: 500;
    color: #139EF2;
}

.licenca {
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    color: #C7C7C7;
}

.licenca p {
    margin-bottom: 18px;
}

.galeria {
    width: 614px;
    margin-top: 24px;
}

.publi {
    height: 749px;
    border: solid 1px #DBDBDB;
    background-color: #FFFFFF;
    margin-bottom: 60px;
}

.post {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.post img:first-child {
    width: 32px;
    margin: 15px;
}

.post .usuario {
    width: 109px;
    margin-right: 410px;
}

.post ion-icon {
    font-size: 15px;
    ;
}

.post .foto {
    width: 612px;
}

.opcoes {
    display: flex;
    justify-content: space-between;
    margin: 13px 18px;
}

.opcoes div {
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.opcoes ion-icon {
    font-size: 18px;
}

.curtidas {
    margin-left: 17px;
    display: flex;
    align-items: center;
}

.curtidas img {
    width: 20px;
    margin-right: 5px;
}

.curtidas p {
    font-size: 14px;
    font-weight: 300;
}

.curtidas strong {
    font-weight: 500;
}

footer {
    display: none;
}

@media (max-width: 935px) {
    .ajuste {
        display: none;
    }

    .vazio{
        display: none;
    }
}

@media (max-width: 614px) {
    header {
        width: 100vw;
    }

    .topo{
        width: 100vw;
    }

    .logo{
        width: 55%;
    }

    .logo ion-icon {
        border: none;
    }

    .pesquisar {
        display: none;
    }

    .menu ion-icon {
        display: none;
    }

    .topo > ion-icon {
        display: block;
        font-size: 23px;
    }

    .conteudo{
        margin-top: 71px;
        width: 100vw;
    }

    .direita{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }

    .stories{
        width: 100vw;
        background-color: #FAFAFA;
        border: none;
        justify-content: space-between;
    }
    
    .galeria{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .publi{
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: auto;
    }

    .post .usuario{
        margin-right: calc(100vw - 203px);
    }

    .post .foto{
        width: 100vw;
    }

    footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        bottom: 0;
        width: 100vw;
        height: 42px;
        background-color: #FFFFFF;
    }

    footer ion-icon{
        font-size: 23px;
        margin: 0 20px;

    }
}