* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 54px;
    padding-top: 13px;
    padding-bottom: 10px;
    border-bottom: solid 1px #DBDBDB;
    position: fixed;
    top: 0;
    background-color: #FFFFFF;
    z-index: 1;

}

.topo-desktop {
    width: 935px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 20px;
}

.topo-mobile {
    display: none;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo ion-icon {
    font-size: 19.25px;
    padding-right: 12px;
    height: 22px;
    border-right: solid 1px #DBDBDB;
    margin-right: 7px;
}

.logo img {
    width: 103px;
}

.pesquisar input {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 215px;
    height: 28px;
    border: solid 1px #DBDBDB;
    border-radius: 3px;
    background-color: #FAFAFA;
    font-size: 12px;
    font-weight: normal;
    color: #979797;
    outline: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
}

.menu ion-icon {
    font-size: 23px;
}

main {
    background-color: #FAFAFA;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 88px;
}

.stories {
    width: 614px;
    height: 118px;
    display: flex;
    align-items: center;
    border: solid 1px #DBDBDB;
    border-radius: 3px;
    background-color: #FFFFFF;
    overflow: hidden;
    position: relative;
}

.story {
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stories .story:first-child {
    margin-left: 18px;
}

.story .imagem {
    width: 66px;
    height: 66px;
    background-image: url(midias/stories_background.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 66px;
    border-radius: 33px;
}

.story img {
    width: 56px;
}

.story p {
    width: 80px;
    padding: 6px 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}

.stories ion-icon {
    position: absolute;
    right: 0;
    top: 38%;
    font-size: 29px;
    color: #FFFFFF;
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
}

.sidebar {
    width: 293px;
    padding-top: 23px;
    padding-left: 29px;
    position: sticky;
    top: 50px;
    align-self: flex-start;
}

.perfil {
    display: flex;
    margin-bottom: 24px;
    line-height: 17px;
}

.usuario {
    font-weight: 500;
    font-size: 14px;
    color: #262626;
}

.perfil img {
    width: 56px;
    margin-right: 17px;
}

.perfil div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.perfil .nome {
    font-weight: 300;
    font-size: 14px;
    color: #8E8E8E;
}


.sugestoes .titulo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
}

.sugestoes .titulo p:first-child {
    color: #8E8E8E;
}

.sugestoes .titulo p {
    font-size: 12px;
    font-weight: 500;
    color: #262626;
    ;
}

.sugestao {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    line-height: 16px;
}

.sugestao img {
    width: 32px;
    margin-right: 11px;
}

.sugestao div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: auto;
}

.sugestao .status {
    font-weight: 400;
    font-size: 12px;
    color: #8E8E8E;
}

.sugestao .seguir {
    font-size: 12px;
    font-weight: 500;
    color: #139EF2;
}

.licenca {
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    color: #C7C7C7;
}

.licenca p {
    margin-bottom: 18px;
}

.galeria {
    width: 614px;
    margin-top: 24px;
}

.publi {
    /* height: 749px; */
    border: solid 1px #DBDBDB;
    background-color: #FFFFFF;
    margin-bottom: 60px;
}

.post {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.post img:first-child {
    width: 32px;
    margin: 15px;
}

.post .usuario {
    width: 109px;
    margin-right: 410px;
}

.post ion-icon {
    font-size: 19px;
    ;
}

.post .foto {
    width: 612px;
}

.post video {
    width: 612px;
}

.opcoes {
    display: flex;
    justify-content: space-between;
    margin: 13px 18px;
}

.opcoes div {
    width: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.opcoes ion-icon {
    font-size: 23px;
}

.curtidas {
    margin-left: 17px;
    display: flex;
    align-items: center;
    margin-bottom: 13px;
}

.curtidas img {
    width: 20px;
    margin-right: 5px;
}

.curtidas p {
    font-size: 14px;
    font-weight: 300;
}

.curtidas strong {
    font-weight: 500;
}

.legenda {
    margin-left: 17px;
    margin-bottom: 2px;
}

.legenda p {
    font-size: 14px;
    line-height: 18px;
}

.legenda .usuario {
    margin-right: 5px;
}

.comentarios {
    margin-left: 17px;
    margin-right: 17px;
    width: 92%;
}

.ver-todos {
    color: #8e8e8e;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 2px;
}

.comentario {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 2px;
}

.comentario p {
    font-size: 14px;
    line-height: 18px;
}

.horario {
    color: #8e8e8e;
    font-size: 10px;
    line-height: 18px;
    margin-bottom: 2px;
}

.comentar {
    border-top: solid 1px #DBDBDB;
    padding: 6px 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
    position: relative;
}

.comentar ion-icon {
    font-size: 23px;
    margin-right: 16px;
}

.comentar input {
    border: none;
    color: #8e8e8e;
    font-size: 14px;
    outline: none;
    position: absolute;
    left: 50px;
}

.comentar button {
    border: none;
    background-color: transparent;
    color: #B2DFFC;
    font-weight: 600;
    transition-duration: 300ms;
}

.comentar button:hover {
    color: #0095F6;

}

footer {
    display: none;
}

@media (max-width: 935px) {
    .sidebar {
        display: none;
    }
}

@media (max-width: 614px) {
    header {
        width: 100vw;
    }

    .topo-mobile {
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 18px;
        padding-left: 20px;
    }

    .topo-desktop {
        display: none;
    }

    .pesquisar {
        display: none;
    }

    .topo-mobile ion-icon {
        display: block;
        font-size: 23px;
    }

    main {
        margin-top: 54px;
        padding-top: 17px;
        width: 100vw;
    }

    .esquerda {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }

    .stories {
        width: 100vw;
        background-color: #FAFAFA;
        border: none;
        justify-content: space-between;
    }

    .stories ion-icon {
        display: none;
    }

    .galeria {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    .publi {
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: auto;
    }

    .post .usuario {
        margin-right: calc(100vw - 215px);
    }

    .post .foto {
        width: 100vw;
    }

    .post video {
        width: 100vw;
    }

    .opcoes {
        width: 90%;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        bottom: 0;
        width: 100vw;
        height: 42px;
        background-color: #FFFFFF;
    }

    footer ion-icon {
        font-size: 23px;
        margin: 0 20px;
    }
}